.aboutPage {
    width: auto;
    padding-right: 15px;
    padding-top: 20px;
    justify-content: right;
    padding-left: 15px;
    position: relative;
    box-sizing: border-box;
    text-align: center;
}
.aboutPage>h1 {
    display: inline-block;
    background-color: transparent;
    color: white;
    margin-bottom: auto;
    font-size: 30px;
}
.aboutPage>h2 {
    display: inline-block;
    background-color: transparent;
    color: white;
    margin-bottom: auto;
    font-size: 20px;
}