.aboutPage {
    margin-top: 15px;
    position: relative;
    width: 700px;
    height: auto;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    background: transparent;
    box-shadow: 0px 0px 5px 0px #f8f9fa, -14px -14px 20px #191c21;
}
.aboutPage>h1 {
    display: inline-block;
    background-color: transparent;
    color: white;
    margin-bottom: auto;
    font-size: 30px;
}
.aboutPage>h2 {
    display: inline-block;
    background-color: transparent;
    color: white;
    margin-bottom: auto;
    font-size: 20px;
}