.detailPage {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    max-width: 100%;
    margin: 15px;
    overflow: hidden;
    width: 600px auto;
    min-height: 210px;
    height: auto;
    position: relative;
}

.detailPage>li {
    display: inline-block;
}

.title {
    padding: 10px;
    position: relative;
    width: 100%;
    font-size: 30px;
    left: 20px;

}

.img {
    top: 20px;
    border: 1px solid rgb(243, 161, 20);
    padding: 5px;
    float: right;
    width: 300px;
    height: 300px;
    border-radius: 10%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.category {
    padding: 5px;
    position: relative;
    width: 100%;
}

.cookingTime {
    padding: 5px;
    position: relative;
    width: 100%;
}

.ingredients {
    padding: 5px;
    position: relative;
    width: 100%;
}

.ingredients>h3 {
    padding: 10px;
    position: relative;
    width: 100%;
}

.direction {
    padding: 5px;
    position: relative;
    width: 100%;
}

.direction>h3 {
    padding: 10px;
    position: relative;
    width: 100%;
}

.btn {
    background-color: #f4b116;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 20px;
    position: relative;
    bottom: 30px;
    text-align: center;
    letter-spacing: 1px;
    padding: 10px;
    margin-top: auto;
    left: 900px;
    cursor: pointer;
    border-radius: 10%;
}


ul {
    list-style-type: none;
}

.btnSubmit {
    background: black;
    height: 60px;
    border-radius: 20px;
    color: #f7f7f7;
    font-size: 26px;
    cursor: pointer;
    font-weight: 900;
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
    transition: 0.5s;
}

.btnSubmit:hover {
    color: white;
    background-color: #b86b24;
}

.createCom {
    margin-bottom: 10px;
    position: relative;
    text-align: center;
    width: 500px;
    height: auto;
    border-radius: 10px;
    padding: 10px;
    background: transparent;
    box-shadow: 0px 0px 10px 0px #32485e, -14px -14px 20px #191c21;
}

.createCom>label {
    color: black;
}

.createCom>.form>textarea {
    width: 400px;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

