input[type="text"] {
    background: #ecf0f3;
    padding: 30px;
    padding-left: 20px;
    height: 50px;
    margin-top: 10px;
    font-size: 24px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #c0c2c5, inset -6px -6px 6px white;
}

textarea {
    width: 100%;
    min-width: 20vw;
    min-height: 7em;
    border: 2px solid #86a480;
    border-radius: 0.7em;
    font-size: 26px;
    border-bottom-color: #ecf0f3;
    background-color: #ecf0f3;
    border-right-color: #ecf0f3;
    margin-top: 7px;
    color: black;
    box-shadow: inset 6px 6px 6px #c0c2c5, inset -6px -6px 6px white;
}


.addRecipe {
    position: relative;
    width: 700px;
    height: auto;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    background:transparent;
    box-shadow: 0px 0px 5px 0px #f8f9fa, -14px -14px 20px #191c21;
    margin-top: 15px;
}

.container {
    padding: 40px;
}

.container>h1 {
    margin-top: 15px;
    font-weight: 900;
    font-size: 2.7rem;
    text-align: center;
    color: white;
    letter-spacing: 1px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 17px;
}

label,
input {
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

label {
    margin-bottom: 8px;
    font-size: 27px;
    color: white;
    margin-top: 13px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

input::placeholder {
    color: rgba(184, 179, 179, 0.678);
};

input[type="title"],
input[type="category"],
input[type="cookingTime"],
input[type="imgUrl"] {
    background: #ecf0f3;
    padding: 30px;
    padding-left: 20px;
    height: 50px;
    margin-top: 10px;
    font-size: 24px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #c0c2c5, inset -6px -6px 6px white;
}

label[for="terms"]>input {
    display: inline;
}

.btnSubmit {
    margin-top: 30px;
    background: #f7f7f7;
    height: 60px;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    font-size: 26px;
    cursor: pointer;
    font-weight: 900;
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
    transition: 0.5s;
}

.btnSubmit:hover {
    color: white;
    background-color: #b86b24;
}

